@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.desktop {
  display: block; /* Show on larger screens */
}

.mobile {
  display: none; /* Hide on larger screens */
}

@media (max-width: 768px) {
  .desktop {
    display: none; /* Hide on small screens */
  }

  .mobile {
    display: block; /* Show on small screens */
  }
}
